.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(231, 225, 225);
  min-height: 100vh;
  

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #4b49ac;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 224, 224);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgb(222, 239, 245);
        }

        span {
          color: grey;
          margin-left: 10px;
          font-size: 15px;
        }

        .icon {
          color: #4b49ac;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid blue;
      cursor: pointer;
      margin: 5px;
      margin-top: 60px;

      &:nth-child(1) {
        background-color: #333;
      }
      &:nth-child(2) {
        background-color: whitesmoke;
      }
      &:nth-child(3) {
        background-color: rgb(9, 125, 233);
      }
    }
  }
}
